# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PaperAttack.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\xmadi\PaperAttack\.idea\.idea.PaperAttack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
